{% extends "base.html" %}

{% block content %}
<h1 class="page-title">Login</h1>
<p class="page-subtitle">Enter your credentials to access ChronoFinance.</p>

<div class="form-box">
    <form method="POST">
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <br>
    <a href="/register">Create new account</a>
</div>
{% endblock %}